/*--------Feedback Modul ---------------*/
.modul-feedback {
    display: none;
    background-color: rgba(255, 255, 255, 1);
    width: 320px;
    height: 676px;
    padding: 0;
    margin-top: 0px;
}

.modul-feedback__title {
    display: flex;
    font-family: TT Lakes;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
    padding: 0px;
    font-weight: bold;
    margin-top: 40px;
    font-weight: 900;
}

.modul-feedback__title::before {
    display: block;
    content: "";
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    border-radius: 0px 15px 15px 0px;
    margin-right: 16px;
    left: 0px;
}

.modul-feedback__close-button {
    display: block;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-top: 23px;
    margin-left: 28px;
}

.modul-feedback__form {
    display: flex;
    flex-direction: column;
}

.modul-feedback__form p {
    font-size: 14px;
    line-height: 16px;
    color: rgba(126, 126, 130, 1);
}

.modul-feedback__form a {
    text-decoration: none;
    color: rgba(255, 62, 121, 1);
}

.modul-feedback__form:nth-child(n + 0) {
    width: 288px;
    margin-left: 16px;
}

.modul-feedback__form input {
    height: 48px;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 10px;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: rgba(181, 182, 188, 1);
    padding-left: 16px;
    margin-bottom: 12px;
}

.modul-feedback__form input:last-child {
    background-image: url(./img/submit_icon.svg);
    background-repeat: no-repeat;
    background-size: 136px 32px;
    background-color: transparent;
    border: none;
    width: 136px;
    height: 32px;
    padding: 0;
    margin-left: 152px;
} 

.modul-feedback__form input:nth-child(4) {
    height: 118px;
}

/*--------Feedback Modul END ---------------*/

/*--------Call Modul ---------------*/

.modul-call {
    display: none;
    background-color: rgba(255, 255, 255, 1);
    width: 320px;
    height: 676px;
    padding: 0;
    margin-top: 0px;
}

.modul-call__close-button {
    display: block;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-top: 23px;
    margin-left: 28px;
}

@media (max-width:767.9px) {
    .modul-feedback__opened {
        z-index: 3;
        background-color: rgba(255, 255, 255, 1);
        width: 100%;
        height: 100%;
        padding: 0;
        margin-top: 0px;
        position: absolute;
    }

    .modul-call__opened {
        z-index: 3;
        background-color: rgba(255, 255, 255, 1);
        width: 100%;
        height: 100%;
        padding: 0;
        margin-top: 0px;
        position: absolute;
    }

    .services-menu__desktop {
        display: none;
    }

    .repair-menu__desktop {
        display: none;
    }

    .prices-menu__desktop {
        display: none;
    }
}

@media (min-width:768px) and (max-width: 1439.9px) {
    .modul-feedback__opened {
        z-index: 5;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
                    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
        width: 320px;
        height: 100vh;
        margin-left: 0;
        position: fixed;
        top: 0;
    }

    .modul-call__opened {
        z-index: 3;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
                    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
        width: 320px;
        height: 100vh;
        padding: 0;
        margin-left: 0;
        position: fixed;
        top: 0;
    }

    th {
        text-align: left;
        font-size: 14px;
        line-height: 16px;
        opacity: 0.7218;
        color: #7E7E82;
        font-weight: 300;
    }

    table {
        margin: auto;
        margin-top: 24px;
        width: calc(100% - 48px);
        max-width: 750px;
        background-color: #fff;
        padding: 0 16px;
        border-radius: 10px;
        border-spacing: 16px;
    }

    td {
        color: #1B1C21;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        height: 65px;
    }

    th, td {
        border-bottom: 1px solid #EAEAEA;
    }

    tr:last-child td {
        border-bottom: 0px;
    }
}

@media (min-width:1440px) {
    .modul-feedback__opened {
        z-index: 5;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: -1000px 0px 2000px 1500px rgba(255, 255, 255, 0.909);
        width: 440px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
    }
    
    .modul-call__opened {
        z-index: 3;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: -1000px 0px 2000px 1500px rgba(255, 255, 255, 0.909);
        width: 440px;
        height: 100vh;
        padding: 0;
        margin-left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }
    .modul-feedback__close-button {
        display: block;
        position: absolute;
        background-color: transparent;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        margin-top: 23px;
        right: 500px;
    }
    
    .modul-call__close-button {
        display: block;
        position: absolute;
        background-color: transparent;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        margin-top: 23px;
        right: 500px;
    }

    th {
        text-align: left;
        font-size: 14px;
        line-height: 16px;
        opacity: 0.7218;
        color: #7E7E82;
        font-weight: 300;
    }    

    table {
        margin: auto;
        margin-top: 24px;
        width: calc(100% - 48px);
        max-width: 990px;
        background-color: #fff;
        padding: 0 16px;
        border-radius: 10px;
        border-spacing: 16px;
    }

    td {
        color: #1B1C21;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        height: 65px;
    }

    th, td {
        border-bottom: 1px solid #EAEAEA;
    }

    tr:last-child td {
        border-bottom: 0px;
    }
}